<!DOCTYPE>
<html>
    <head>
        <meta charset='utf-8'>
        <style>
 img {
     display: block;
     box-shadow: 0 0 10px #555;
     border-radius: 6px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     margin-bottom: 10px;
     -webkit-box-shadow: 0 0 10px #555;
     max-width: 100%;
 }
        </style>
        <link rel="stylesheet" href="/static/css/dark.css" />
        <link rel="stylesheet" href="/static/css/hack.css" />
    </head>
    <body class="hack dark">
        {% block body %}
        {% endblock %}
    </body>
    <script type="text/javascript" src="/static/js/search.js"></script>
</html>
