{% extends "base.html" %}
{% block body %}
<div class="main container">
    </br></br>
    <a href="/"><< back to home</a>
    <h1>CCNU Central Picture Database⚡️ Search</h1>
    <fieldset class="form-group form-success">
        <label for="name">Name:</label>
        <input id="name" type="text" placeholder="" class="form-control">
        <button class="btn btn-warning btn-ghost" id="btSearch">Search</button>
        <div class="help-block">搜同学的名字->get照片info</div>
    </fieldset>
    <div class="xoimg" id="xoimg">
    <div class="media">
        <div class="media-left">
            <img src="http://7xj431.com1.z0.glb.clouddn.com/1221579.gif" height="200px" width="200px"/>
        </div>
        <div class="media-body">
            <div class="media-heading">菲布理 @2013142233</div>
            <div class="media-content">
                <hr/>
                <li>
                    - 专业: 木犀专业 <br/>
                    - 爱吃: 华中师范大学/后勤集团/饮食中心/学子餐厅/一楼/棒棒糖 <br/>
                </li>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
